<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>About</title>
</head>
<body class="card-panel brown lighten-5">
    <h2>About</h2>
    <h4>This practice web application is rendered using node.js along with express and ejs dependencies.</h4>

    <div>
        <a href= "/" class= "waves-effect brown btn-small" >Back to home page</a>
        <a href= "/contact-me" class="waves-effect  brown lighten-3 btn-small">Contact Me</a>
    </div>
</body>
</html>