<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Contact Me</title>
</head>
<body class="card-panel brown lighten-5">
    <h2>Contact Me</h2>
    <h4>You can contact me using the information on this page.</h4>

    <div>
        <a href= "/" class= "waves-effect brown btn-small" > Back to home page</a>
        <a href= "/about" class="waves-effect  brown lighten-3 btn-small">About</a>
    </div>
</body>
</html>